.about {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 10rem;
    padding-bottom: 12rem;
  }
  &__extra {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 14rem;
    padding-top: 14rem;
    padding-left: 5rem;
    padding-right: 2px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    gap: 12rem;
  }

  &__title {
    margin: 0;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 9rem;
    font-weight: 400;
    font-size: 4rem;
    color: #141414;
  }
  &__video {
    height: 48rem;
    position: relative;
    margin-bottom: 5rem;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // background-color: rgba(#000, .5);
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__bottom {
    margin-left: 12rem;
    margin-right: 9.3rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }
  &__btn {
    flex-shrink: 0;
    border-color: #141414;
    color: #307fe2;
  }
  &__desc {
    margin: 0;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2rem;
    color: #141414;
  }

  &__slider {
      padding-top: 5rem;
      padding-bottom: 6rem;
      min-width: 0;
      max-width: 100%;
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  &__arrows {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  &__arr {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    svg {
      height: 100%;
      width: 100%;
      stroke: #307fe2;
    }

    &.swiper-button-disabled {
      cursor: default;
      pointer-events: none;
      opacity: 0.25;
    }
  }
  &__pagi {
    position: relative;
    div {
      --swiper-pagination-progressbar-size: .2rem;
    }
  }
  &__fract {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 2rem;
    color: #307fe2;
    .to {
      font-weight: 300;
      color: #141414;
    }
  }
}


.about-item {
  &__value {
    margin-bottom: 4rem;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 10rem;
    line-height: 40%;
    letter-spacing: -0.03em;
    color: #307fe2;
    span {
      font-size: 6rem;
    }
  }
  &__capture {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2rem;
    color: #141414;
  }
}
