<section class="about">
  <div class="content">
    <div class="about__content content-side">
      <h4 class="about__title">О нашей <span class="highlite">компании</span></h4>
      <div class="about__video">
        <video src="./about.mp4" autoplay loop muted></video>
      </div>
      <div class="about__bottom">
        <p class="about__desc">
          Отличительной особенностью компании является выработка индивидуального технического решения для каждого объекта.
        </p>
        <a href="#" class="btn btn-reset about__btn">
          Подробнее
          <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L7 7.47719L1 14" stroke="#307FE2" stroke-width="2" />
          </svg>
        </a>
      </div>
    </div>
    <div class="about__extra extra-content">
      <div class="swiper about__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="about__wrap">
              <div class="about-item">
                <div class="about-item__value">
                  >25 <span>лет</span>
                </div>
                <div class="about-item__capture">Расчетный срок службы оборудования</div>
              </div>
              <div class="about-item">
                <div class="about-item__value">
                  328 <span>млн. м3</span>
                </div>
                <div class="about-item__capture">Очищено нами за все время работы</div>
              </div>
              <div class="about-item">
                <div class="about-item__value">
                  >2 <span>заводов</span>
                </div>
                <div class="about-item__capture">собственное производство позволяет решать самые нестандартные задачи</div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="about__wrap">
              <div class="about-item">
                <div class="about-item__value">
                  30 <span>лет</span>
                </div>
                <div class="about-item__capture">опыта на рынке очистных сооружений</div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="about__control">
        <div class="about__top">
          <div class="about__fract">
            <span class="from">01</span>-<span class="to">05</span>
          </div>
          <div class="about__arrows">
            <div class="about__arr about__arr--prev">
              <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.5 1L2 5.5L6.5 10" stroke-width="2" stroke-linecap="round" />
              </svg>
            </div>
            <div class="about__arr about__arr--next">
              <svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L5.5 5.5L1 10" stroke-width="2" stroke-linecap="round" />
              </svg>
            </div>
          </div>
        </div>
        <div class="about__pagi">
          <div></div>
        </div>
      </div>
    </div>
  </div>
</section>
