<section class="products">
  <div class="products__video">
    <video src="" muted></video>

  </div>
  <div class="products__images">
    <div class="products__img" data-image-about="box">
      <picture>
        <source srcset="./img/map/01.webp" type="image/webp">
        <img src="./img/map/01.jpg" alt="">
      </picture>
    </div>
    <div class="products__img" data-image-about="dryer">
      <picture>
        <source srcset="./img/map/02.webp" type="image/webp">
        <img src="./img/map/02.jpg" alt="">
      </picture>
    </div>
    <div class="products__img" data-image-about="aero">
      <picture>
        <source srcset="./img/map/03.webp" type="image/webp">
        <img src="./img/map/03.jpg" alt="">
      </picture>
    </div>
    <div class="products__img" data-image-about="sewerage">
      <picture>
        <source srcset="./img/map/04.webp" type="image/webp">
        <img src="./img/map/04.jpg" alt="">
      </picture>
    </div>
    <div class="products__img" data-image-about="apply">
      <picture>
        <source srcset="./img/map/05.webp" type="image/webp">
        <img src="./img/map/05.jpg" alt="">
      </picture>
    </div>
    <div class="products__img" data-image-about="filters">
      <picture>
        <source srcset="./img/map/06.webp" type="image/webp">
        <img src="./img/map/06.jpg" alt="">
      </picture>
    </div>
    <div class="products__img" data-image-about="load">
      <picture>
        <source srcset="./img/map/07.webp" type="image/webp">
        <img src="./img/map/07.jpg" alt="">
      </picture>
    </div>
    <div class="products__img" data-image-about="water">
      <picture>
        <source srcset="./img/map/08.webp" type="image/webp">
        <img src="./img/map/08.jpg" alt="">
      </picture>
    </div>
    <div class="products__img" data-image-about="clear">
      <picture>
        <source srcset="./img/map/09.webp" type="image/webp">
        <img src="./img/map/09.jpg" alt="">
      </picture>
    </div>

  </div>
  <div class="products__info">
    <h4 class="products__title">Title</h4>
    <p class="products__desc">Desc</p>


    <button class="btn-reset products__back btn">Назад</button>
  </div>
  <div class="products__plug">
    <div class="products-btn products__aero" data-video-capture="aero">
      <span>Трубчатые аэраторы</span>
    </div>
    <div class="products-btn products__filters" data-video-capture="filters">
      <span>Фильтры с плавающей загрузкой</span>
    </div>
    <div class="products-btn products__dryer" data-video-capture="dryer">
      <span>Мешковая сушилка системы водоочистки</span>
    </div>
    <div class="products-btn products__water" data-video-capture="water">
      <span>Станции водоподготовки</span>
    </div>
    <div class="products-btn products__apply" data-video-capture="apply">
      <span>Станция приема сточных вод</span>
    </div>
    <div class="products-btn products__sewerage" data-video-capture="sewerage">
      <span>Канализационная насосная станция</span>
    </div>
    <div class="products-btn products__clear" data-video-capture="clear">
      <span>Блочно-модульные очистные сооружения</span>
    </div>
    <div class="products-btn products__box" data-video-capture="box">
      <span>Блок-бокс для размещения насосного оборудования</span>
    </div>
    <div class="products-btn products__load" data-video-capture="load">
      <span>Плоскостная загрузка для очистных сооружений</span>
    </div>
  </div>
</section>
