<section class="services">
  <div class="services__bg"></div>
  <div class="services__container content">
    <div class="services__content content-side">
      <div class="services__wrapper active" data-tab="clear">
        <div class="services__text">
          <p>
            АО «КРЕАЛ» производит полный комплекс работ по очистным сооружениям промышленной производительности. Начиная
            любой проект, мы ставим задачу помочь нашим заказчиками решить проблемы с очисткой сточных вод и в конечном
            итоге повысить экологический аспект в работе предприятия. Корректная работа технологического оборудования по
            очистке стоков гарантирует организации отсутствие штрафов за сброс загрязнений в водный объект или
            централизованную канализацию. С каждым годом в Российской Федерации планка экологических требований
            устанавливается все выше и выше, а количество устаревающих очистных сооружений, требующих реконструкции,
            уменьшается достаточно медленно.
          </p>
        </div>
        <div class="services__bottom">
          <a href="#" class="btn btn-reset services__btn">Подробнее <svg width="6" height="12" viewBox="0 0 6 12"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5 5.98246L1 11" stroke="white" />
            </svg></a>
        </div>
      </div>
      <div class="services__wrapper" data-tab="design">
        <div class="services__text">
          <p>
            Проектирование очистных сооружений – необходимый этап для последующего строительства системы очистки сточных
            вод.
            <br>
            <br>
            Специалисты технологического отдела компании разрабатывают проектную и рабочую документацию для объектов
            любой сложности. Процесс проектирования проходит в тесном контакте с Заказчиком, при которым учитываются все
            индивидуальные особенности конкретного объекта. Методы очистки сточных вод, применяемые в проекте,
            определяются качественным и количественным составом сточных вод.
          </p>
        </div>
        <div class="services__bottom">
          <a href="#" class="btn btn-reset services__btn">Подробнее <svg width="6" height="12" viewBox="0 0 6 12"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5 5.98246L1 11" stroke="white" />
            </svg></a>
        </div>
      </div>
      <div class="services__wrapper" data-tab="produce">
        <div class="services__text">
          <p>
            АО «КРЕАЛ» - производственно-инжиниринговая компания, специализирующаяся на комплексных инженерных решениях
            в области очистки сточных вод. Компания работает с расходами сточных вод промышленной величины. В структуре
            фирмы две производственные площадки, располагающиеся в Санкт-Петербурге. Производство сформировано и
            укомплектовано необходимым оборудованием и станками для выпуска собственной продукции.
          </p>
        </div>
        <div class="services__bottom">
          <a href="#" class="btn btn-reset services__btn">Подробнее <svg width="6" height="12" viewBox="0 0 6 12"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5 5.98246L1 11" stroke="white" />
            </svg></a>
        </div>
      </div>
      <div class="services__wrapper" data-tab="fix">
        <div class="services__text">
          <p>
            Оказываем услуги «под ключ» по очистным сооружениям блочно-модульного исполнения. В состав работ по каждому
            проекту входят работы по монтажу и пуско-наладке. В большинстве проектов очистные сооружения состоят из
            нескольких блок-модулей, которые собираются на месте установки в единое по архитектуре сооружение в один или
            два этажа. Размеры модулей соответствует стандарту морских контейнеров Hight Cube от 10 до 40 футов.
            Отдельные модули доставляются до объекта автомобильным транспортом.
            <br>
            <br>
            В составе проекта выдаем техническое задание на строительную часть (фундаменты) и присоединению к очистным
            сооружениям внешних инженерных сетей (канализация, водоснабжение, электроснабжение, теплоснабжение и, в
            отдельных случаях, газоснабжение).
          </p>
        </div>
        <div class="services__bottom">
          <a href="#" class="btn btn-reset services__btn">Подробнее <svg width="6" height="12" viewBox="0 0 6 12"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5 5.98246L1 11" stroke="white" />
            </svg></a>
        </div>
      </div>
      <div class="services__wrapper" data-tab="service">
        <div class="services__text">
          <p>
            Производим полный комплекс работ по очистным сооружениям промышленной производительности, включая сервисное
            обслуживание комплекса очистки стоков.
            <br>
            <br>
            Сервисное обслуживание - комплекс технических и организационных мероприятий, направленных на поддержание
            технологических режимов работы оборудования очистный сооружений. Как правило собственники объектов, на
            которых установлены очистные сооружения, самостоятельно производят осмотры и текущий ремонт оборудования.
            Для этого достаточно квалификации местных инженеров и слесарей по ремонтным работам. Но для настройки
            технологии и стабильности выдачи показателей очистки, требуется привлечение специализированной организации.
            Сервисная компания должна иметь в штате инженеров-технологов, релевантный опыт наладки очистных сооружений
            данного типа и набор необходимого инструмента и измеритель-ной аппаратуры. Наличие данных качеств у
            обслуживающей компании гарантирует безаварийную работу очистных сооружений и исключает риск экологического
            происшествия.
          </p>
        </div>
        <div class="services__bottom">
          <a href="#" class="btn btn-reset services__btn">Подробнее <svg width="6" height="12" viewBox="0 0 6 12"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5 5.98246L1 11" stroke="white" />
            </svg></a>
        </div>
      </div>
      <div class="services__wrapper" data-tab="improve">
        <div class="services__text">
          <p>
            Оказываем услуги по модернизации действующих очистных сооружений. Объем работ может отличаться в зависимости
            от целей, которые ставит заказчик перед компанией-подрядчиком.
            <br>
            Основные цели модернизации очистных сооружений:
          </p>
          <br>
          <ol>
            <li>
              <p>Увеличить производительность очистки;</p>
            </li>
            <li>
              <p>Применить свежую технологию очистки стоков;</p>
            </li>
            <li>
              <p>Заменить устаревшее оборудование на современное.</p>
            </li>
          </ol>
          <br>
          <p>
            При выборе поставщика услуги необходимо учитывать многие факторы. АО «КРЕАЛ» обладает всеми необходимыми
            преимуществами перед другими компаниями для выполнения данного вида работ:
          </p>

        </div>
        <div class="services__bottom">
          <a href="#" class="btn btn-reset services__btn">Подробнее <svg width="6" height="12" viewBox="0 0 6 12"
              fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L5 5.98246L1 11" stroke="white" />
            </svg></a>
        </div>
      </div>
    </div>
    <div class="services__extra extra-content">
      <span class="services__capture">
        Услуги
      </span>
      <ul class="list-reset services__list">
        <li class="services__item active" data-tab="clear">
          <span>
            Обследование
            очистных сооружений
          </span>
        </li>
        <li class="services__item" data-tab="design">
          <span>
            Разработка проектной
            и конструкторской
            документации
          </span>
        </li>
        <li class="services__item" data-tab="produce">
          <span>
            Производство очистных
            сооружений
          </span>
        </li>
        <li class="services__item" data-tab="fix">
          <span>
            Монтаж и пусконаладка
          </span>
        </li>
        <li class="services__item" data-tab="service">
          <span>
            Сервисное обслуживание
            технологических процессов
        </li>
        </span>
        <li class="services__item" data-tab="improve">
          <span>
            Модернизация очистных
            сооружений
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
