<section class="solutions">
  <div class="content solutions__container">
    <div class="s-item solutions__item">
      <div class="s-item__cover">
        <picture>
          <source srcset="./img/solutions/01-2x.webp" type="image/webp" media="(min-width: 1440px)">
          <source srcset="./img/solutions/01.webp" type="image/webp">
          <img src="./img/solutions/01.png" srcset="./img/solutions/01-2x.png" alt="">
        </picture>
      </div>
      <div class="s-item__image">
        <picture>
          <source srcset="./img/solutions/01-1-2x.webp" type="image/webp" media="(min-width: 1440px)">
          <source srcset="./img/solutions/01-1.webp" type="image/webp">
          <img src="./img/solutions/01-1.png" srcset="./img/solutions/01-1-2x.png" alt="">
        </picture>
      </div>

      <div class="s-item__content">
        <div class="s-item__figure">
          01
        </div>
        <div class="s-item__title">Отраслевые</div>
      </div>
    </div>

    <div class="s-item solutions__item">
      <div class="s-item__cover">
        <picture>
          <source srcset="./img/solutions/02-2x.webp" type="image/webp" media="(min-width: 1440px)">
          <source srcset="./img/solutions/02.webp" type="image/webp">
          <img src="./img/solutions/02.png" srcset="./img/solutions/02-2x.png" alt="">
        </picture>
      </div>
      <div class="s-item__image">
        <picture>
          <source srcset="./img/solutions/02-1-2x.webp" type="image/webp" media="(min-width: 1440px)">
          <source srcset="./img/solutions/02-1.webp" type="image/webp">
          <img src="./img/solutions/02-1.png" srcset="./img/solutions/02-1-2x.png" alt="">
        </picture>
      </div>

      <div class="s-item__content">
        <div class="s-item__figure">
          02
        </div>
        <div class="s-item__title">По типу стоков</div>
      </div>
    </div>
    <div class="s-item solutions__item">
      <div class="s-item__cover">
        <picture>
          <source srcset="./img/solutions/03-2x.webp" type="image/webp" media="(min-width: 1440px)">
          <source srcset="./img/solutions/03.webp" type="image/webp">
          <img src="./img/solutions/03.png" srcset="./img/solutions/03-2x.png" alt="">
        </picture>
      </div>
      <div class="s-item__image">
        <picture>
          <source srcset="./img/solutions/03-1-2x.webp" type="image/webp" media="(min-width: 1440px)">
          <source srcset="./img/solutions/03-1.webp" type="image/webp">
          <img src="./img/solutions/03-1.png" srcset="./img/solutions/03-1-2x.png" alt="">
        </picture>
      </div>

      <div class="s-item__content">
        <div class="s-item__figure">
          03
        </div>
        <div class="s-item__title">По типу очистки</div>
      </div>
    </div>
  </div>
</section>
